h1 {
  text-align: center;
}
#featured-property{
  text-align: center;
}
nav{
  padding: 10px;
  background-color: grey;
  text-align: center;

}

img {
  text-align: center;
  width: 50%;
  height: 50%;
}

#featured-property p{
  text-align: center;
  width: 800px;


}
#details {
  background-color: red;
  text-align: center;
  width: 25%;
}
